label {
  display: block;
  clear: both;
}

fieldset {
  margin: 10px;
  float: left;
}

textarea {
  width: 200px;
}

body {
  background-image: none;
}

body .container {
  width: 940px;
}

.dashboard-panel {
  float: left;
}

.buttons-container {
  float: left;
}

.buttons-wrapper {
  width: 100%;
  background-color: #2D5C3C;
  float: left;
}

.buttons-container {
  padding: 10px 15px;
  float: right;
}

.link-container {
  float: right;
  display: none;
  height: 0px;
  position: relative;
  top: -13px;
  margin: 0;
  padding: 0;
}

.link-container li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}

/* presenters */
.presenter-container span,
.presenter-container a {
  display: block;
  clear: both;
}

.presenter-container .info-container,
.presenter-container .presenter-img-container {
  float: left;
}

.presenter-container .info-container {
  width: 100%;
}

.presenter-wrapper, .presenter-type-container {
  float: left;
  clear: both;
  margin-bottom: 15px;
  width: 250px;
}

.presenter-wrapper:hover .link-container {
  background-color: #2D5C3C;
  display: block;
}

.presenters img {
  margin-right: 15px;
}

.presenters .link-container {
  float: right;
  display: none;
}

/* slides */
.slide-fieldset {
  float: right;
  width: 375px;
}

.slide-fieldset .slide-container {
  float: left;
  width: 115px;
  margin: 5px;
}

.slide-container:hover .link-container {
  display: block;
}

.slide-container .link-container {
  top: -110px;
  left: -5px;
}

.slide-container .link-container li {
  background-color: white;
  margin: 0;
  padding: 2px 5px;
}

/* video widget */

.video-widget-container {
  width: 480px;
  height: 270px;
}

.video-widget-fields,
.video-widget-fields div {
  float: left;
}

.video-widget-fields input {
  width: 100px;
}

.video-container {
  width: 480px;
  height: 270px;
  border: 2px solid black;
  float: right;
}

/* preview */
.preview #body .container {
  width: 1120px;
}

.preview-fieldset iframe {
  width: 1080px;
  height: 500px;
  margin-top: 20px;
}

.preview-states, .preview-states li {
  list-style: none;
  display: inline;
  margin: 0 10px;
  padding: 0;
}
