label {
  display: block;
  clear: both;
}

fieldset {
  width: 379px;
  margin: 10px;
}

textarea {
  width: 200px;
}

.dashboard-panel {
  float: left;
}

/* presenters */
.presenter-container span,
.presenter-container a {
  display: block;
  clear: both;
}

.presenter-container .info-container,
.presenter-container .presenter-img-container {
  float: left;
}

.presenter-wrapper, .presenter-type-container {
  float: left;
  clear: both;
  margin-bottom: 15px;
  width: 250px;
}

.presenter-wrapper:hover .link-container {
  display: block;
}

.presenters img {
  margin-right: 15px;
}

.presenters .link-container {
  float: right;
  display: none;
}

/* video widget */

.video-widget-container {
  width: 375px;
  height: 250px;
}

.video-widget-fields {
  float: left;
}

.video-widget-fields input {
  width: 100px;
}

.video-container {
  width: 244px;
  height: 139px;
  border: 2px solid black;
  float: right;
}
