label {
  display: block;
  clear: both;
}

fieldset {
  margin: 10px;
  float: left;
}

textarea {
  width: 200px;
}

body .container {
  width: 940px;
}

.dashboard-panel {
  float: left;
}

.buttons-container {
  float: left;
}

/* presenters */
.presenter-container span,
.presenter-container a {
  display: block;
  clear: both;
}

.presenter-container .info-container,
.presenter-container .presenter-img-container {
  float: left;
}

.presenter-wrapper, .presenter-type-container {
  float: left;
  clear: both;
  margin-bottom: 15px;
  width: 250px;
}

.presenter-wrapper:hover .link-container {
  display: block;
}

.presenters img {
  margin-right: 15px;
}

.presenters .link-container {
  float: right;
  display: none;
}

/* slides */
.slide-fieldset {
  float: right;
  width: 375px;
}

.slide-fieldset .slide-container {
  float: left;
  width: 115px;
  margin: 5px;
}

/* video widget */

.video-widget-container {
  width: 480px;
  height: 270px;
}

.video-widget-fields,
.video-widget-fields div {
  float: left;
}

.video-widget-fields input {
  width: 100px;
}

.video-container {
  width: 480px;
  height: 270px;
  border: 2px solid black;
  float: right;
}
