{% load ifsetting_tag %}

{% block extra_head %}
<script type="text/javascript" src="{{ settings.STATIC_URL }}/register.js"></script>
{% endblock %}

{% ifequal request.session.user_registered None %}
  <div id="registration-panel" class="panel">
    <h3>Register</h3>
    <form id="register_form" action="." method="post">
      {{ register_event_form.as_p }}
      You are not registered for this event. To register,
      <a class="register_link" href="#">click here</a>
    </form>
  </div>
{% endifequal %}
