{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block head_title %}{% endblock %}</title>
        <!--[if IE]><style>
            div {
                zoom: 1; /* trigger hasLayout */
            }
        </style><![endif]-->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        {% if LANGUAGE_BIDI %}
        {% endif %}

       	<script type="text/javascript">
        	var _gaq = _gaq || [];
        	_gaq.push(['_setAccount', 'UA-20665158-2']);
        	_gaq.push(['_trackPageview']);
        </script>

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    
    <body class="{% block body_class %}{% endblock %}">
        <div id="header-wrapper">
          <div id="header" class="container">
            <div id="logo">
            </div>
            <div id="header-right">
              {% block header %}{% endblock %}
            </div>
          </div>
        </div>
        {% block body_outer %}
        <div id="body">
            {% if messages %}
                <ul id="messages">
                    {% for message in messages %}
                    <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% block body %}
            {% endblock %}
            
        </div>
        {% endblock %}
        
        <script type="text/javascript">
        	(function() {
      		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  	      	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	      	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	        })();
      	</script>

        <div id="footer">{% block footer %}{% endblock %}</div>
    </body>
</html>
