{% extends 'site_base.html' %}

{% load event_login user_profile event_extras presentations_extras recommend %}

{% block head_title %}{{ event.name }}{% endblock %}
{% block extra_head %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL}}/fancybox/jquery.fancybox-1.3.4.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}jquery.hoverIntent.minified.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}settings.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}event.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}register.js"></script>
  <script type="text/javascript">
    var settings = TDWebinar.settings.eventPage;
    settings.id = "{{ event.id }}";
    settings.queuePoints = {% slide_set_json event %}
    settings.slideUrl = "/event/{{ event.id }}/slide/";
    settings.presentationUrl = "/event/{{ event.id }}/presentation";
    // time in seconds until stage transition
    settings.stateTransitionOffsets = {
      lobby: "{{ stateOffsets.lobby }}",
      live: "{{ stateOffsets.live }}",
      post: "{{ stateOffsets.post }}",
      archive: "{{ stateOffsets.archive }}"
    };
  </script>
{% endblock %}

{% block header_right %}
  <h3>{{ event.name }}</h3>
  <h4>{{ event.live_start_date|date:"F d, Y" }}</h4>
{% endblock %}
  
{% block body %}
  <div id="bits-on-the-run">
    <script type="text/javascript" src="{{ STATIC_URL }}bitsontherun.js"></script>
  </div>
  <div id="presentation-wrapper">
    {% presentation event state %}
  </div>
  <div id="information-wrapper">
    <div class="container">
      <div id="information-tabs">
        <div class="infotab webinar-info selected active" rel="information"></div>
        <div class="infotab presenter-info" rel="presenters"></div>
      </div>
    </div>
    <div id="content-container" class="container">
      <div id="presenters" class="container hidden">
        <div id="presenters-left">
          {% presenter_list event.presenters %}
        </div>
      </div>
      <div id="information">
        <div id="information-left">
          <h1>{{ event.name }}</h1>
          <h3>{{ event.live_start_date|date:"F d, Y" }}</h3>
          <div class="description">
            {{ event.short_description|safe }}
          </div>
        </div>
      </div>
      <div id="information-right" class="information-right">
        <div id="resource-panel" class="panel">
          <h3>Resource Panel</h3>
          <div class="rp-item">
            <div class="rp-icon"><img src="{{ STATIC_URL }}images/icon-download.png" width="20" height="20" alt="Download Presentation" /></div>
            <div class="rp-description"><a href="{{ MEDIA_URL }}{{ event.resource_guide.name }}" >Download Presentation</a></div>
          </div>
          <div class="rp-item">
            <div class="rp-icon"><img src="{{ STATIC_URL }}images/icon-resourceguide.png" width="20" height="20" alt="Resource Guide" /></div>
            <div class="rp-description"><a href="{{ MEDIA_URL}}{{ event.resource_guide.name }}">Resource Guide</a></div>
          </div>
          <div class="rp-item">
            <div class="rp-icon"><img src="{{ STATIC_URL }}images/icon-td.png" width="20" height="20" alt="Locate a TD Small Business Advisor" /></div>
            <div class="rp-description">Locate a TD Small Business Advisor</div>
          </div>
          <div class="rp-item">
            <div class="rp-icon"><img src="{{ STATIC_URL }}images/icon-td.png" width="20" height="20" alt="Find a TD Commercial Banking Centre" /></div>
            <div class="rp-description">Find a TD Commercial Banking Centre</div>
          </div>
          {% recommend request recommend_form %}
          <!--<div class="rp-item">
            <div class="rp-icon"><img src="{{ STATIC_URL }}images/icon-mail.png" width="20" height="20" alt="Recommend this webinar" /></div>
            <a class="rp-description">Recommend this webinar</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
