{% extends 'site_base.html' %}

{% load event_login user_profile event_extras presentations_extras thumbnail %}

{% block head_title %}{{ event.name }}{% endblock %}
{% block extra_head %}
  <script type="text/javascript" src="{{ STATIC_URL }}register.js"></script>
{% endblock %}

{% block header_right %}
  <h3>{{ event.name }}</h3>
  <h4>{{ event.live_start_date|date:"F d, Y" }}</h4>
{% endblock %}
  
{% block body %}
  <div id="information-wrapper" class="register">
    <div id="content-container" class="container">
      <div id="information">
        <div id="information-left">
          {% thumbnail event.image "480x300" crop="center" as image %}
            <img src="{{ image.url }}" />
          {% endthumbnail %}
          <h1>{{ event.name }}</h1>
          <h3>{{ event.live_start_date|date:"F d, Y" }}</h3>
          <div class="description">
            {{ event.short_description|safe }}
          </div>
        </div>
      </div>
      <div id="information-right" class="information-right">
        <div id="login-panel" class="panel">
          {% ifequal request.session.login_email None %}
            <h3>Login</h3>
            <p>Already registered? Please login with your email address below:<p>
          {% endifequal %}
          {% event_login request login_form logout_form %}
        </div>
        {% ifequal request.session.login_email None %}
          <div id="registration-panel" class="panel">
            <h3>Register</h3>
            <p>New user? Register here.</p>
            {% user_profile request user_profile_form %}
          </div>
        {% else %}
        {% endifequal %}
      </div>
      <div id="presenters">
        {% presenter_list event.presenters %}
      </div>
    </div>
  </div>
{% endblock %}
