{% extends "dashboard/base.html" %}
{% load form_utils_tags dashboard_extras %}

{% block head_title %}Step 1 of 4: Event Information{% endblock %}
{% block header_right %}
  <h4>Step 1 of 4: Event Information</h4>
{% endblock %}

{% block content %}
  <div class="dashboard-panel presenter">
    {% if not event.id %}
      <form action="{% url db_event_add %}" method="post" enctype="multipart/form-data">
    {% else %}
      <form action="{% url db_event_edit event.id %}" method="post" enctype="multipart/form-data">
    {% endif %}
      {{ form|render:"dashboard/form.html" }}
      {% form_buttons "Event" 1 1 continue_button %}
    </form>
  </div>
{% endblock %}
