{% extends "dashboard/base.html" %}
{% load form_utils_tags %}
{% load dashboard_extras %}

{% block head_title %}Step 2 of 4: Presenter Information{% endblock %}
{% block header_right %}
  <h4>Step 2 of 4: Presenter Information</h4>
{% endblock %}

{% block content %}
  <div class="dashboard-panel presenter">
    {% if not presenter.id %}
      <form action="{% url db_presenter_add event.id %}" method="post" enctype="multipart/form-data">
    {% else %}
      <form action="{% url db_presenter_edit event.id  presenter.id %}" method="post" enctype="multipart/form-data">
    {% endif %}

      {{ form|render:"dashboard/form.html" }}
      <input type="submit" value="Save and Continue" />
    </form>
  </div>
  <div class="dashboard-panel presenters">
    <fieldset>
      <legend>Presenters</legend>
      {% presenter_pane event %}
    </fieldset>
    <a href="{% url db_presenter_add event.id %}" class="add-presenter">Add a presenter</a>
  </div>
{% endblock %}
