{% extends "dashboard/base.html" %}
{% load form_utils_tags %}
{% load dashboard_extras %}

{% block head_title %}Step 2 of 4: Presenter Information{% endblock %}
{% block header_right %}
  <h4>Step 2 of 4: Presenter Information</h4>
{% endblock %}

{% block body %}
  <div class="dashboard-panel presenter">
    <form action="{{ form_url }}" method="post" enctype="multipart/form-data">
      {{ form|render:"dashboard/form.html" }}
      <input type="submit" value="Save" />
    </form>
  </div>
  <div class="dashboard-panel presenters">
    <fieldset>
      <legend>Presenters</legend>
      {% presenter_pane event %}
    </fieldset>
    <a href="{% presenter_link event '' 'add' %}" class="add-presenter">Add a presenter</a>
  </div>
{% endblock %}
