{% load event_extras dashboard_extras thumbnail %}
{% for slide in slides %}
  <div class="slide-container">
    {% thumbnail slide.image "112x100" crop="center" as image %}
      <img src="{{ image.url }}" />
    {% endthumbnail %}
    <span class="offset">Timing: {% time_offset slide.offset %}</span>
    <ul class="link-container">
      <li><a href="{% url db_slide_action event.id slide.id "edit" %}" class="edit">Edit</a></li>
      <li><a href="{% url db_slide_action event.id slide.id "delete" %}" class="edit">Delete</a></li>
    </ul>
  </div>
{% endfor %}
