{% load ifsetting_tag %}

{% block extra_head %}
<script type="text/javascript" src="{{ settings.STATIC_URL }}/logout.js"></script>
{% endblock %}

{% ifequal request.session.login_email None %}
  <form id="login_form" action="" method="post" class="login">
    {{ login_form.as_p }}
    <input type="submit" value="Login" class="submit"></input>
  </form>
{% else %}
  <form id="logout_form" action="" method="post">
    <strong>Hello, {{ request.session.login_email }}!</strong><br/>
    {{ logout_form.as_p }}
    Not you?  <a class="logout_link" href="#">Logout</a>
  </form>
{% endifequal %}
