{% load thumbnail %}
{% for presenter_type in presenters %}
  <div class="presenter-type-container">
    <h3>{{ presenter_type.type }}</h3>
    {% for presenter in presenter_type.presenters %}
      <div class="presenter-container">
        {% thumbnail presenter.photo "80x120" crop="center" as photo %}
          <div class="presenter-img-container"><img src="{{ photo.url }}" /></div>
        {% endthumbnail %}
        <div class="info-container">
          <span class="presenter-name">{{ presenter.name }}</span>
          <span class="job-title">{{ presenter.job_title }}</span>
          <a id="inline" href="#bio-{{ presenter.id }}">View Full Bio</a>
          <div id="bio-{{ presenter.id }}" class="bio">{{ presenter.description|safe }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
