{% load presentations_extras event_extras %}
<script type="text/javascript">
  var settings = TDWebinar.settings.eventPage;
  settings.startOffset = "0";
  settings.state = "{{ state }}";
  _old_doc_write = document.write;
  document.write = function() {};
</script>
<div id="presentation" class="container">
  <div id="presentation-left">
    <div id="presentation-webinar">
      {% video_player event.lobby_video.video_id event.lobby_video.player_id %}
    </div>
    <div id="presentation-cover"></div>
  </div>
  <div id="slideshow">
    {% first_slide event %}
  </div>
  <div id="slideshow-preload"></div>
  <div id="presentation-question">
    {% question_form event %}
  </div>
</div>
