{% load presentations_extras event_extras %}
<script type="text/javascript">
  var settings = TDWebinar.settings.eventPage;
  settings.startOffset = "{{ start_offset }}";
  settings.state = "{{ state }}";
</script>
<div id="presentation" class="container">
  <div id="presentation-left">
    <div id="presentation-webinar">
      {% video_player event.presentation.video.video_id event.presentation.video.player_id %}
    </div>
    <div id="presentation-cover"></div>
  </div>
  <div id="slideshow">
    {% first_slide event %}
  </div>
  <div id="presentation-question">
    {% question_form event %}
  </div>
</div>
