<table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0pt; padding: 0pt; min-height: 100% ! important; width: 100% ! important;">
            	<tbody><tr>
                	<td valign="top" align="center">
                        
                    	<table width="600" cellspacing="0" cellpadding="0" border="0" style="border: medium none; background-color: rgb(253, 253, 253);">
                        	<tbody><tr>
                            	<td valign="top" align="center">
                                    
                                	<table width="600" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); border-bottom: 0pt none;">
                                        <tbody><tr>
                                            <td style="color: rgb(32, 32, 32); font-family: Arial; font-size: 34px; font-weight: bold; line-height: 100%; padding: 0pt; text-align: center; vertical-align: middle;">
                                            
                                            	
                                            	<img style="max-width: 600px; border: medium none; font-size: 14px; font-weight: bold; line-height: 100%; outline: medium none; text-decoration: none; text-transform: capitalize;" src="http://gallery.mailchimp.com/1e14c22d75f70a1f9abb4013d/images/td_header.jpg">
                                            	

                                                
                                            	<div style="text-align: left;"><img width="600" height="200" border="0" style="margin: 0pt; padding: 0pt; border: medium none; font-size: 14px; font-weight: bold; line-height: 100%; outline: medium none; text-decoration: none; text-transform: capitalize;" alt="" src="http://gallery.mailchimp.com/1e14c22d75f70a1f9abb4013d/images/td_event_image.jpg"></div>
                                            	
                                            
                                            </td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                        	<tr>
                            	<td valign="top" align="center">
                                    
                                	<table width="600" cellspacing="0" cellpadding="0" border="0">
                                    	<tbody><tr>
                                            <td valign="top" style="background-color: rgb(253, 253, 253);">
                                
                                                
                                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody><tr>
                                                        <td valign="top">
                                                            <div style="color: rgb(80, 80, 80); font-family: Arial; font-size: 14px; line-height: 150%; text-align: left;"></div>
														</td>
                                                    </tr>
                                                </tbody></table>
                                                

                                                
                                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody><tr>
                                                        <td width="60%" valign="top" rowspan="2">
                                                            <div style="color: rgb(80, 80, 80); font-family: Arial; font-size: 14px; line-height: 150%; text-align: left;"><div style="color: rgb(80, 80, 80); font-family: Arial; font-size: 14px; line-height: 150%; text-align: left; background-color: rgb(253, 253, 253); margin: 0px; padding: 0px; min-height: 100% ! important; width: 100% ! important;">
TD Canada Trust is pleased to confirm your registration for the upcoming webinar workshop&nbsp;<b>{{ event.name }}</b>. This webinar event will be held on {{ event.start_time_eastern|date:"l, F d" }} at {{ event.start_time_eastern|date:"h:i A" }} EST.
	<br>
	We look forward to your participation!<br>
	<br>
	Thank you,<br>
	<br>
	TD Canada Trust Small Business</div>
</div></td>
                                                                
                                                            

		
                                                        <td width="40%" valign="top" style="background-color: rgb(0, 63, 45); padding: 10px; color: rgb(255, 255, 255);">
                                                            <div style="color: white; font-family: Arial; font-size: 14px; line-height: 150%; text-align: left;"><span style="color: rgb(255, 255, 255); display: block; font-family: Arial; font-size: 22px; font-weight: bold; line-height: 100%; margin-bottom: 10px; text-align: left;">View the Webinar Workshop</span> on {{ event.start_time_eastern|date:"l, F d, h:i A" }} EST<br>
{{ event.short_description|safe }}
</div></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="40%" valign="top">
                                                            <div style="color: rgb(80, 80, 80); font-family: Arial; font-size: 12px; line-height: 150%; text-align: left; padding-top: 10px;">
                                                              <a style="color: rgb(255, 154, 12); font-weight: normal; text-decoration: underline;" href="{{ settings.SITE_URL }}{% url event event.id %}"><strong>Click here</strong></a> to view the webinar on {{ event.start_time_eastern|date:"l, F d" }} at {{ event.start_time_eastern|date:"h:i A" }} EST.<br><br>
	  <a target="_blank" style="color: rgb(255, 154, 12); font-weight: normal; text-decoration: underline;" href="http://www.tdcanadatrust.com/smallbusiness/advisor/index.jsp"><strong>Click here</strong></a> to find your local TD Canada Trust Small Business Advisor.<br>


                                                                <br>
                                                                
                                                            </div></td>
                                                    </tr>
                                                </tbody></table>
                                                
                                                
                                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody><tr>
                                                        <td valign="top">
                                                            <div style="color: rgb(80, 80, 80); font-family: Arial; font-size: 14px; line-height: 150%; text-align: left;"></div>
														</td>
                                                    </tr>
                                                </tbody></table>
                                                
                                            </td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                        	<tr>
                            	<td valign="top" align="center">
                                    
                                	<table width="600" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(253, 253, 253); border-top: 2px solid rgb(140, 198, 63);">
                                    	<tbody><tr>
                                        	<td valign="top">
                                            
                                                
                                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody><tr>
                                                        <td valign="middle" style="background-color: rgb(250, 250, 250); border: 1px solid rgb(245, 245, 245);" colspan="2">
                                                            <div style="color: rgb(112, 112, 112); font-family: Arial; font-size: 12px; line-height: 125%; text-align: center;">
                                                                &nbsp;<a style="color: rgb(51, 102, 153); font-weight: normal; text-decoration: underline;">follow on Twitter</a> | <a style="color: rgb(51, 102, 153); font-weight: normal; text-decoration: underline;">friend on Facebook</a> | <a target="_blank" style="color: rgb(51, 102, 153); font-weight: normal; text-decoration: underline;" href="http://us1.forward-to-friend.com/forward?u=1e14c22d75f70a1f9abb4013d&amp;id=b4be05a8ff&amp;e=">forward to a friend</a>&nbsp;
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="370" valign="top">
                                                            <br>
                                                            <div style="color: rgb(112, 112, 112); font-family: Arial; font-size: 12px; line-height: 125%; text-align: left;">
                                                                
                                                                <em>Copyright &copy; 2011 Blink Media Works, All rights reserved.</em>
                                                                <br>
                                                                
                                                                You are receiving this email because you signed up for a TD webinar event.
                                                                <br>
                                                                <strong>Our mailing address is:</strong>
                                                                <br>
                                                                <div><span>Blink Media Works</span><div><div>#400 - 319 W Hastings St.</div><span>Vancouver</span>, <span>BC</span>  <span>V6B 1H6</span></div><br><a target="_blank" href="http://blinkmediaworks.us1.list-manage1.com/vcard?u=1e14c22d75f70a1f9abb4013d&amp;id=4970ced8ae">Add us to your address book</a></div>
                                                                <br>
                                                                
                                                                
                                                            </div>
                                                            <br>
                                                        </td>
                                                     
                                                    </tr>
                                                    <tr>
                                                        <td valign="middle" style="background-color: rgb(253, 253, 253); border-top: 1px solid rgb(245, 245, 245);" colspan="2">
                                                            <div style="color: rgb(112, 112, 112); font-family: Arial; font-size: 12px; line-height: 125%; text-align: center;">
                                                                &nbsp;<a target="_blank" style="color: rgb(51, 102, 153); font-weight: normal; text-decoration: underline;" href="http://blinkmediaworks.us1.list-manage.com/unsubscribe?u=1e14c22d75f70a1f9abb4013d&amp;id=4970ced8ae&amp;e=&amp;c=b4be05a8ff">unsubscribe from this list</a> | <a target="_blank" style="color: rgb(51, 102, 153); font-weight: normal; text-decoration: underline;" href="http://blinkmediaworks.us1.list-manage1.com/profile?u=1e14c22d75f70a1f9abb4013d&amp;id=4970ced8ae&amp;e=">update subscription preferences</a> | <a target="_blank" style="color: rgb(51, 102, 153); font-weight: normal; text-decoration: underline;" href="http://us1.campaign-archive2.com/?u=1e14c22d75f70a1f9abb4013d&amp;id=b4be05a8ff&amp;e=">view email in browser</a>&nbsp;
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                                
                                            
                                            </td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                        </tbody></table>
                        <br>
                    </td>
                </tr>
            </tbody></table>
